

html, body{
margin: 0;
background: #FFC8AA;
}



@font-face {
  font-family: 'Fugue';
  src: url('FugueTails.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.sidelogo{
  font-family: 'Fugue';
  letter-spacing: 0.4px;
  font-size: 3vh;
  color: #ff5100;
  padding-left: 40px;
  padding-top: 20px;
}


.essayheadline {
  font-family: 'Fugue';
  letter-spacing: 0.4px;
  font-size: 6vh;
  line-height: 1.5em;
  color: #ff5100;
}

.essayheadline2 {
  font-family: 'Fugue';
  letter-spacing: 0.4px;
  font-size: 6vh;
  line-height: 1.2em;
  color: #ff5100;
}


.essaytext {
  padding-top: 20px;
  font-family: sans-serif;
  font-size: 2.8vh;
  color: #ff5100;
  line-height: 1.5em;
}


.essaytext2 {
  padding-top: 20px;
  font-family: sans-serif;
  font-size: 1.8vh;
  color: #ff5100;
  line-height: 1.5em;
}

.labels {
  color: #ff5100;
  font-family: sans-serif;
  font-size: 1.5vh;
  line-height: 1.3em;

  color: #ff5100;
  padding-left: 40px;

}


.tinytext2{
  color: #ff5100;
  line-height: 1.3em;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 16px;
}



.tinytext{
  background: #FFC8AA;
  color: #ff5100;
  line-height: 1.3em;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 16px;
}

.video2{
  width: 60%;
  /* height: fixed;
  width: fixed; */
  /* object-fit: fill; */
}


/* unvisited link */
a:link {
  text-decoration: none;
  color:  #ff5100;
}

/* visited link */
a:visited {
  text-decoration: none;
  color:  #ff5100;
}

/* mouse over link */
a:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;

}

/* selected link */
a:active {
  text-decoration: none;
  color:  #ff5100;
}


/* two columns css */


* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
